<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WS7</title>
    <link rel="stylesheet" type="text/css" href="/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato|Sunshiney|Poiret+One|Open+Sans|Indie+Flower|Vollkorn|Oswald" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/jquery-migrate.min.js"></script>
    <style type="text/css">
    ${demo.css}
    </style>
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/highstock/highstock.js"></script>
    <script src="/js/highstock/modules/exporting.js"></script>
    <script type="text/javascript" src="/js/highstock/themes/dark-unica.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/"><div class="title">WS7 Comparison Toolkit</div></a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left"><li class="divider"></li></ul>
        <ul class="right"><li class="divider"></li></ul>
        <!--This constructs menu buttons coming in from the left, if you want one...
        <ul class="left">
          <li class="divider"></li>
          <li><a href="#">Temperature</a></li>
          <li class="divider"></li>
          <li><a href="#">Radiation</a></li>
        </ul>-->
        <!--This constructs menu buttons coming in from the right-->
        <ul class="right">
          <li class ="divider"></li>
          <li><a href="#" id="pick-rain">Precipitation</a></li>
          <li><a href="#" id="pick-lys">Snow Lysimeter</a></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#" id="wind-default">Wind</a>
            <ul class="dropdown">
            <li><a href="#" id ="pick-wind">PRO Means</a></li>  
            <li><a href="#" id ="pick-snc">SNC Means</a></li>
            <li><a href="#" id ="pick-dir">Wind Directions</a></li>
            <li><a href="#" id ="pick-van">VANMET v. SEVEN (MAX)</a></li>
            <li><a href="#" id ="pick-cen">CENMET v. SEVEN (MAX)</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#" id="temp-default">Temperature</a>
            <ul class="dropdown">
              <li><a href="#" id="pick-temps">450m Air Temperature</a></li>
              <li><a href="#" id="pick-asp">350m Gill v. Asp. Means</a></li>
              <li><a href="#" id="pick-maxes">350m Gill v. Asp Maxes</a></li>
              <li><a href="#" id="pick-vant">VANMET Gill, Asp., Sonic Wind Maxes</a></li>
            </ul>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#" id="pick-rads">Net Radiation</a>
            <ul class="dropdown">
              <li><a href="#" id="pick-sw">Short Wave, PRI/VAN</a></li>
              <li><a href="#" id="pick-lw">Long Wave, PRI/VAN</a></li>
              <li><a href="#" id="pick-net">Net, PRI/VAN</a></li>
              <li><a href="#" id="pick-seven">Net by IN/OUT, WS7</a></li>
              <li><a href="#" id="pick-cross">Net, PRI/VAN/WS7</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    <div class="vertical-spacer-10"></div>
    <div class="row">
      <div class="large-12 columns">
        <div class="row">
          <h1 class="oswaldhead">WS7 Comparisons</h1>
        </div>
    <div class = "row">
          <div id="container" style="height: 400px; min-width: 310px"></div>
        </div>
      </div>
    </div>
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; Copyright 2015, <a href="mailto:fox@tinybike.net">Fox Peterson</a></p>
          </div>
          <!--<div class="large-6 columns">
          
            
            <ul class="inline-list right">
              <li><a href="mailto:fox@tinybike.net">Contact</a></li>
            </ul>

          
          </div>-->

          <div class="large-12 columns">
            <ul class="clearing-thumbs" data-clearing>
              <li><a class="th" href="/images/h15metws7metscatter.png"><img data-caption="Max, mean, and hourly wind speeds on H15 and WS7" src="/images/h15mini-th.jpg"></a></li>
              <li><a class="th" href="/images/ws7andh15.png"><img data-caption="Histograms of Wind on H15 and WS7, 2013-2015" src="/images/ws7bar-th.jpg"></a></li>
              <li><a class="th" href="/images/smooth_150.png"><img src="/images/smooth150-th.jpg" data-caption="Smoothed data and Daly algorithm bounds 150m CENMET"></a></li>
              <li><a class="th" href="/images/smooth_450.png"><img src="/images/smooth450-th.jpg" data-caption="Smoothed data and Daly algorithm bounds 450m CENMET"></a></li>
              <li><a class="th" href="/images/FebruaryDiel.png"><img src="/images/feb-th.jpg" data-caption="2 STD window on mean temperature, February 2013-2014"></a></li>
              <li><a class = "th" href="/images/JulyDiel.png"><img src="/images/jul-th.jpg" data-caption="2 STD window on mean temperature, July 2013-2014"></a></li>
              <li><a class = "th" href ="/images/DecemberDiel.png"><img src="/images/dec-th.jpg" data-caption="2 STD window on mean temperature, December 2013-2014"></a></li>
              <li><a class = "th" href="/images/manyws.png"><img src="/images/manyws-th.jpg"></a></li>
              <li><a class = "th" href ="/images/DECTOMAX.png"><img src="/images/DECTOMAX-th.jpg" data-caption="2 STD above mean solar, December 2013-2014"></a></li>
              <li><a class = "th" href ="/images/FEBTOMAX.png"><img src="/images/FEBTOMAX-th.jpg" data-caption="2 STD above mean solar, February 2013-2014"></a></li>
              <li><a class = "th" href ="/images/SEPTTOMAX.png"><img src="/images/SEPTTOMAX-th.jpg" data-caption="2 STD above mean solar, September 2013-2014"></a></li>
              <li><a class = "th" href ="/images/snowdepth.png"><img src="/images/snowdepth-th.jpg"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    </footer>
    <!--<div id="modal-dynamic" class="reveal-modal small" data-reveal>
      <h3 id="modal-header"></h3>
      <div id="modal-body"></div>
      <a class="close-reveal-modal">&#215;</a>
    </div>-->
    <script src="/js/vendor/placeholders.min.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.dropdown.js"></script>
    <script src="/js/foundation/foundation.topbar.js"></script>
    <script src="/js/foundation/foundation.tab.js"></script>
    <script src="/js/foundation/foundation.reveal.js"></script>
    <script src="/js/foundation/foundation.clearing.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <script>
      $(document).foundation();
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>